html { height:100%;}
body {
	height:100%;
	font: 11px 'Lucida Grande', Arial, Verdana, sans-serif;
	margin:0;
	background: #666;
}
#header {
	font-size:15px;
	background:url(../img/bg-grad.png) repeat-x;
	font-weight:bold;
	padding:10px;
}
#content {
	background: #666;
	color:#CCC;	
}
a {
	color:#CCC;
	font-size:20px;
	font-weight:bold;
	text-decoration:none;
}
a p {
	margin:0;
	padding:0 0 0 10px;;
	font-size:13px;
	font-weight:normal;
	text-decoration:none;
	
}